.auth {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.authСontainer {
  display: flex;
  width: 100%;
  height: 100%;
}
.authBody {
  margin: auto;
  width: 53.70vw;
  height: 32.08vw;
  padding: 3.65vw 0 2.19vw 0;
  border-radius: 0.78vw;
  box-shadow: 0px 0px 0.99vw 0px rgba(0, 0, 0, 0.17);
}

.company{
  padding: 3vw 0;
  height: 36.08vw;
}
.authTitle {
  font-weight: 700;
  font-size: 2.08vw;
  text-align: center;
  margin-bottom: 1.56vw;
}
.authForm {
  display: flex;
  flex-direction: column;
  padding: 0 10.16vw;
}
.authInput {
  width: 100%;
  font-size: 1.6vw;
  border-radius: 0.52vw;
  box-shadow: var(--main-shadow);
  padding: 0.78vw 0 0.78vw 1.09vw;
  margin-bottom: 1.67vw;
}
.authBtn {
  align-self: center;
  color: #fff;
  background: var(--main-color);
  font-size: 1.6vw;
  border-radius: 0.52vw;
  box-shadow: 0px 0px 0.99vw 0px rgba(0, 0, 0, 0.17);
  padding: 0.78vw 5.21vw;
  margin-bottom: 1.04vw;
}
.authText {
  text-align: center;
  font-size: 1.25vw;
  font-weight: 700
}
.authLink {
  display: block;
  text-align: center;
  font-size: 1.25vw;
  font-weight: 700;
  color: var(--main-color);
}

@media(max-width: 1000px){
  .authBody {
    width: 90.70vw;
    height: 84.08vw;
    padding: 5.65vw 0 5.19vw 0;
    border-radius: 1.78vw;
    box-shadow: 0px 0px 2.99vw 0px rgba(0, 0, 0, 0.17);
  }

  .company{
    padding: 6vw 0;
    height: 110.08vw;
  }

  .authTitle {
    font-weight: 700;
    font-size: 8vw;
    text-align: center;
    margin-bottom: 6.56vw;
  }

  .authForm {
    padding: 0 5vw;
  }
  .authInput {
    width: 100%;
    font-size: 6.40vw;
    border-radius: 1.7vw;
    padding: 2vw 0 2vw 3.09vw;
    margin-bottom: 4.67vw;
  }

  .authBtn {
    font-size: 6.40vw;
    border-radius: 1.52vw;
    box-shadow: 0px 0px 2.99vw 0px rgba(0, 0, 0, 0.17);
    padding: 1.78vw 10.21vw;
    margin-bottom: 4.04vw;
  }

  .authText, .authLink {
    font-size: 3.25vw;
  }
}