.mainProfile {
  padding: 3.44vw 0;
}
.containerProfile {
  max-width: 60.17vw;
  padding: 0 0.78vw;
  margin: 0 auto;
  height: 100%;
}
.profileForm {
  display: flex;
  flex-direction: column;
}
.formProfileInput {
  width: 100%;
  font-size: 1.6vw;
  border-radius: 0.52vw;
  box-shadow: var(--main-shadow);
  padding: 0.78vw 0 0.78vw 1.09vw;
  margin-bottom: 1.67vw;
}

.formProfileInput::placeholder, .formProfileTextarea::placeholder{
  color: #878787;
  font-weight: 500;
}

.formProfileTextarea{
  padding: 1.04vw;
  resize: none;
  border-radius: 0.52vw;
  box-shadow: var(--main-shadow);
  font-size: 1.67vw;
  margin-bottom: 1.67vw;
}

.formProfileSelect{
  color: #878787;
  padding: 0.52vw 0 0.52vw 1.09vw;
  border-radius: 0.52vw;
  box-shadow: var(--main-shadow);
  font-size: 1.67vw;
  margin-bottom: 1.67vw;
}


.profileBtn {
  padding: 0.52vw 2.30vw;
  font-size: 1.46vw;
  color: #fff;
  align-self: center;
  border-radius: var(--border-size);
  background: var(--main-color);
  box-shadow: var(--main-shadow);
}


@media(max-width: 1000px){

  .mainProfile {
    padding-top: 0;
    padding-bottom: 5.44vw;
  }

  .containerProfile {
    max-width: none;
    width: 90%;
  }

  .formProfileInput {
    width: 100%;
    font-size: 5.40vw;
    border-radius: 1.52vw;
    box-shadow: 0px 0px 2.99vw 0px rgba(0, 0, 0, 0.17);
    padding: 2.78vw 0 2.78vw 4.09vw;
    margin-bottom: 3.67vw;
  }

  .formProfileTextarea {
    padding: 4.04vw;
    border-radius: 1.52vw;
    box-shadow: 0px 0px 2.99vw 0px rgba(0, 0, 0, 0.17);
    font-size: 5.40vw;
    margin-bottom: 3.67vw;
  }

  .formProfileSelect {
    padding: 1.52vw 0 1.52vw 3.09vw;
    border-radius: 1.52vw;
    box-shadow: 0px 0px 2.99vw 0px rgba(0, 0, 0, 0.17);
    font-size: 5.40vw;
    margin-bottom: 3.67vw;
  }

  .profileBtn {
    padding: 1.52vw 8.30vw;
    font-size: 4.40vw;
    border-radius: 2vw;
    box-shadow: 0px 0px 2.99vw 0px rgba(0, 0, 0, 0.17);
  }
}