.mainProfile {
  padding: 3.44vw 0;
}
.containerProfile {
  max-width: 60.17vw;
  padding: 0 0.78vw;
  margin: 0 auto;
  height: 100%;
}
.profileForm {
  display: flex;
  flex-direction: column;
}
.formProfileInput {
  width: 100%;
  font-size: 1.6vw;
  border-radius: 0.52vw;
  box-shadow: var(--main-shadow);
  padding: 0.78vw 0 0.78vw 1.09vw;
  margin-bottom: 1.67vw;
}

.formProfileInput::placeholder, .formProfileTextarea::placeholder{
  color: #878787;
  font-weight: 500;
}

.formProfileTextarea{
  padding: 1.04vw;
  resize: none;
  border-radius: 0.52vw;
  box-shadow: var(--main-shadow);
  font-size: 1.67vw;
  margin-bottom: 1.67vw;
}

.formProfileSelect{
  color: #878787;
  padding: 0.52vw 0 0.52vw 1.09vw;
  border-radius: 0.52vw;
  box-shadow: var(--main-shadow);
  font-size: 1.67vw;
  margin-bottom: 1.67vw;
}


.profileBtn {
  padding: 0.52vw 2.30vw;
  font-size: 1.46vw;
  color: #fff;
  align-self: center;
  border-radius: var(--border-size);
  background: var(--main-color);
  box-shadow: var(--main-shadow);
}